/* Font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Component */
@import url('compoents/nav.css');
@import url('reset.css');

/* Screens */
@import url('screens/index.css');
@import url('screens/trailers.css');

.main{
    background-image: url("/imgs/background.jpg");
    background-size: 100%;
    height: 780px;
    width: 100%;
}


body{
    font-family: 'Do Hyeon', sans-serif;
    color: #FFF3DE;
}

