/* Font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Component */
@import url('compoents/nav.css');
@import url('reset.css');
@import url('compoents/header.css');

/* Screens */
@import url('screens/index.css');
@import url('screens/trailers.css');
@import url('screens/bgm.css');
@import url('screens/background.css');
@import url('screens/dlc.css');
.main{
    background-image: url("/imgs/background2.jpg");  
    height: 730px;
}


body{
    font-family: 'Do Hyeon', sans-serif;
    color: #FFF3DE;
}

