.nav{
    width: 100%;
    background-image: url("./imgs/navback.png");
}

.nav ul{
    display: flex;
    list-style:none;
    justify-content: space-evenly;
    font-size: 18px;
}

.nav-box{
    display: flex;
    color: #FFF3DE;
    height: 45px;
    align-items: center;
}