.nav{
    width: 100%;
    background-image: url("./imgs/navback.png");
}

.nav ul{
    display: flex;
    list-style:none;
    justify-content: center;
    font-size: 20px;
}
.nav li{
    margin: 0px 60px;
}

.nav-box{
    display: flex;
    color: #FFF3DE;
    height: 45px;
    align-items: center;
}

.nav-box:hover{
    color: #2978B8;
    border-bottom: 1px solid #2978B8;
}