.main-bg{
    background-image: url(/imgs/bg_bgm.jpg);
    background-attachment: fixed;
}


.bg-contents div:nth-child(3){
    margin-top: -50px;
    margin-bottom: 150px;
}

.bg-contents{
    text-align: center;
    
}
.charas{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.chara-introduce{
    position: relative;
    width: 960px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.chara-title h1{
    margin-right: 45px;
}


.chara-bg,
.chara-bg_2{
    position: absolute;
    height: 280px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.38);
    border-top: 2px solid #c6ad7b;
    border-bottom: 2px solid #c6ad7b;
    margin-top: 320px;
}

.chara-bg_2{
    margin-top: 0;
    top: 1310px;
}

.chara-title_2{
    position: absolute;
    left: 550px;
}

.chara_img{
    position: absolute;
}

.chara_img_1{
    left: 300px;
}

.chara_img_2{
    right: 300px;
}

.chara_img_3{
    left: 200px;
}

.chara_img_4{
    right: 350px;
}

.chara_img_5{
    right: 120px;
}