.main-bg{
    background-image: url(/imgs/bg_bgm.jpg);
    background-attachment: fixed;
}

.bg-contents div:nth-child(3){
    margin-top: -50px;
}

.bg-contents{
    text-align: center;
}

.chars__chara__names{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 260px;
    border-top: 2px solid #c6ad7b;
    border-bottom: 2px solid #c6ad7b;
    
}

.chars__chara__name{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.chars__chara__name img:first-child{
    margin-right: 50px;
}

.char__link{
    
}