.main-bgm{
    background-image: url(/imgs/bg_bgm.jpg);
    height: 855px;
}

.header__logo-jp{
    padding: 0;
    padding: 10px;
}


.bgm-header{
    display: flex;
    justify-content: center;
    
}

.mamoru{
    margin-top: -90px;
}


.bgms{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    margin-top: -80px;
    margin-right: 35px;
}

.bgms img{
    width: 100px;
    height: 100px;
    
}

.bgm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
}

.bgm:hover{

    color: #2978B8;
}

.bgm span{
    margin-top: 10px;
    font-size: 18px;
}

audio{
    display: none;
}