.main-bgm{
    background-image: url(/imgs/bg_bgm.jpg);
    height: 855px;
}

.header__logo-jp{
    padding: 0;
    padding: 10px;
}


.bgm-header{
    display: flex;
    justify-content: center;
    
}

.mamoru{
    margin-top: -90px;
}

audio{
    display: none;
}