.main-dlc{
    background-image: url("../bg_dlc.jpg");
    background-attachment: fixed;
    height: 2000px;
}

.dlc-contents{
    text-align: center;
}

.dlc-title{
    margin-bottom: 500px;
    margin-top: -50px;
}

.dlc-title div:first-child{
    margin-bottom: 20px;
}