.header__logo{
    padding-top: 30px;
    position: relative;
}

.logo{
    cursor: pointer;
}

.logo1{
    position:absolute;
    top: 0;
    right: 80px;
    padding-top: 15px;
}

.logo2{
    position: absolute;
    top: 0;
    right: 0;
}

.subtitle{

    display: flex;
    justify-content: center;
}

.subtitle img{
    position: absolute;
    right: -330px;
    top: 30px;
}

.trailer-video{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    cursor: pointer;
    margin-top: -130px;
}

.trailer-video__src{
    border: 4px solid #FFF3DE;
}

.trailler-video__logo{
    position: absolute;
    bottom: 0;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.trailler-video__logo span{
    margin-bottom: 5px;
}


.footer{
    background: black;
    height: 300px;
}

.footer__contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__contents img{
    margin-top: 25px;
}

.footer__contents-release img:last-child{
    margin-left: 20px;
}