.trailer-movies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 40px;
}

.trailer-movies__movie{
    position: relative;
    margin-top: 25px;
}

.trailler-movies__movies{
    display: flex;
    margin-top: 25px;
}

.trailler-movies__movies-movie{
    font-size: 20px;
    width: 353px;
    height: 115px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    justify-content: center;
}

.trailler-movies__movies-movie:last-child{
    margin-right: 0px;
}

.trailler-movies__movies-movie span{
    margin-left: 30px;
}

.trailler-movies__movies-movie:hover{
    border-top: 3px solid #2978B8;
    color: #2978B8;
}

.line-border{
    width: 1100px;
    height: 5px;
    margin-bottom: 200px;
    border-bottom: 1px solid #c6ad7b;
    margin-top: 10px;
    
}

.delBtn{
    position: absolute;
    font-size: 50px;
    margin-left: 12px;
    top: -5px;
    cursor: pointer;
}

.trailer-movies{
    display: none;
}